@media (max-width: 1300px) {}

@media (max-width: 1120px) {}

@media (max-width: 992px) {
  .hero_area {
    min-height: auto;
  }

  .custom_nav-container .navbar-nav {
    padding-top: 15px;
padding-left: 0;
    align-items: center;
  }

  .user_option{
    justify-content: center;
    margin-top: 15px;
  }
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }

  .slider_section .carousel-indicators {
    margin-top: 45px;
  }

  .offer_section .box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .offer_section .box .img-box {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {

  .about_section .detail-box,
  .book_section .form_container {
    margin-bottom: 45px;
  }

  .about_section .row {
    flex-direction: column-reverse;
  }

  .offer_section .box {
    flex-direction: row;
    text-align: left;
  }

  .offer_section .box .img-box {
    margin-right: 15px;
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {}

@media (max-width: 480px) {}

@media (max-width: 430px) {
  .offer_section .box {
    flex-direction: column;
    text-align: center;
  }

  .offer_section .box .img-box {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 376px) {
  .slider_section .detail-box h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}


@media (min-width:576px) and (max-width:991px) {
  .rent_solution_container .col-md-4.col-sm-6 {
    float: left;
    width: 50%;
  }
  @media screen and (max-width: 412px) {
    .hidden-content {
      display: none;
  }
  }
}
@media (min-width:1000px) and (max-width: 1920px) {
  .video-js{
    width: 100%;
  } 
  .video-js .vjs-big-play-button{
    margin-left: 42%;
  }
}
@media screen and (max-width: 1000px) {
  .hidden-content {
      display: none;
  }
  .cari-veed, .responsive-upload{
      width: 90%;
      left:5%;
  }    
  .item-video{
      width: 90%;
      left: 5%;
  } 
  .video-js{
      width: 100%;
  } 
  .video-js .vjs-big-play-button{
    margin-left: 40%;
  }
}

@media screen and (max-width: 375px) {
  .video-js .vjs-big-play-button{
    margin-left: 31%;
  }
}

@media (min-width:372px) and (max-width: 425px) {
  .video-js .vjs-big-play-button{
    margin-left: 34%;
  }
}
/* @media screen and (max-width: 425px) {
  .video-js .vjs-big-play-button{
    margin-left: 37%;
  }
} */
.video-js .vjs-big-play-button{
  justify-content: center; /* Pusat horizontal */
  align-items: center; /* Pusat vertikal */
}

@media (min-width:426px) and (max-width: 600px) {
  .video-js .vjs-big-play-button{
    margin-left: 35%;
  }
}
@media screen and (max-width:992px){
  .center_nav{
    display: none ;
  }
  .right_nav{
    display: none;
  }
  .logo-container{
    display: none;
  }
  .logo-image{
    display: none;
  }
  .center-element-mobile{
    align-items: center;
    margin: auto;
    width: 100px;
  }
}

@media (min-width:993px) and (max-width:2000px){
  .start-element-mobile{
    display: none;
  }
  .center-element-mobile{
    display: none;
  }
  .right-element-mobile{
    display: none;
  }
  /* .nav_container{
    padding-top: 30px;
    padding-bottom: 30px;
  } */
}
@media (min-width:767px) and (max-width:990px){
  .center-element-mobile{
    align-items: center;
    margin: auto;
    width: 150px;
  }
  /* .nav_container{
    padding-top: 20px;
    padding-bottom: 0px;
  }  */
}
/* responsive nama dan history jam feed */

@media (min-width: 768px) {
  .limit-name {
      display: block;
      width: 300px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
}
@media (max-width: 425px) {
  .limit-name {
      display: block;
      width: 155px; 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
}
@media (max-width: 373px) {
  .limit-name {
      display: block;
      width: 80px; 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
}
@media (min-width:426px) and (max-width: 767px) {
  .limit-name {
      display: block;
      width: 170px; 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
}

@media (min-width:374px) and (max-width: 400px) {
  .limit-name {
      display: block;
      width: 122px; 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
}

@media (max-width: 425px) {
  .d-flex .waktu {
      flex-direction: row;
      /* align-items: flex-start; */
  }
  /* .text-muted {
      margin-top: 0.5rem;
  } */
}
@media (min-width: 426px) {
  .d-flex .waktu {
      flex-direction: row;
      /* align-items: center;
      justify-content: space-between; */
  }
}

@media (min-width:426px) and (max-width: 767px) {
  .responsive-padding {
    margin-left: -8%;
  }
}

/* ellipsis name di dropdown navbar */

.ellipsis {
  display: block;
  width: 100px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Untuk browser yang mendukung */
/* Mengatur lebar scrollbar */
/* Mengatur warna scrollbar */
/* Mengatur warna latar belakang scrollbar */

  /* Aturan scrollbar untuk layar yang lebih besar */

/* .form-comment{
  display: flex;
  width: 110%;
  margin-bottom: 3%;
  margin-left: -5.5%;
}
.comment-input{
  margin-top: -0.5%;
} */
