@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  width: auto;
}
.nav_container{
  width: 100%;
}
.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

h1,
h2
 {
  font-family: 'Dancing Script', cursive;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.heading_container h2 span {
  color: #ffbe33;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sub_page .hero_area {
  min-height: auto;
}

.sub_page .hero_area .bg-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sub_page .hero_area .bg-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
}

/* .header_section {
  padding: 15px 0;
  width: 900px;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
} */

.navbar-brand {
  font-family: 'Dancing Script', cursive;
}



.custom_nav-container {
  padding: 0;
}

/* .custom_nav-container .navbar-nav {
  padding-left: 18%;
} */

.custom_nav-container .nav-item .nav-link {
    padding: 5px 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }


.custom_nav-container .nav_search-btn {
  width: auto;
  height: auto;
  padding: 0;
  border: none;
  color: #ffffff;
  margin: 0 10px;
}

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_option a {
  margin: 0 10px;
}

.user_option .user_link {
  color: #ffffff;
}



.user_option .cart_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_option .cart_link svg {
  width: 17px;
  height: auto;
  fill: #ffffff;
  margin-bottom: 2px;
}

.user_option .cart_link:hover svg {
  fill: #ffbe33;
}

.user_option .order_online {
  display: inline-block;
  padding: 8px 30px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.user_option .order_online:hover {
  background-color: #e69c00;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 45px 0 75px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #ffffff;
  margin-bottom: 145px;
}

.slider_section .detail-box h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.slider_section .detail-box p {
  font-size: 14px;
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 10px;
}

.slider_section .detail-box a:hover {
  background-color: #e69c00;
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #ffbe33;
}

.offer_section {
  position: relative;
  padding-top: 45px;
}

.offer_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
  border-radius: 5px;
  padding: 20px 15px;
  background-color: #222831;
  color: #ffffff;
}

.offer_section .box .img-box {
  width: 175px;
  min-width: 175px;
  height: 175px;
  margin-right: 15px;
  position: relative;
  -webkit-transition: all 0.1 0.5s;
  transition: all 0.1 0.5s;
  border-radius: 100%;
  border: 5px solid #ffbe33;
  overflow: hidden;
}

.offer_section .box .img-box img {
  width: 100%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.offer_section .box .detail-box h5 {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
  margin: 0;
}

.offer_section .box .detail-box h6 {
  font-family: 'Dancing Script', cursive;
  margin: 10px 0;
}

.offer_section .box .detail-box h6 span {
  font-size: 2.5rem;
  font-weight: bold;
}

.offer_section .box .detail-box a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.offer_section .box .detail-box a:hover {
  background-color: #e69c00;
}

.offer_section .box .detail-box a svg {
  width: 20px;
  height: auto;
  margin-left: 5px;
  fill: #ffffff;
}

.offer_section .box:hover .img-box img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.food_section .filters_menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin: 45px 0 20px 0;
}

.food_section .filters_menu li {
  padding: 7px 25px;
  cursor: pointer;
  border-radius: 25px;
}

.food_section .filters_menu li.active {
  background-color: #222831;
  color: #ffffff;
}

.food_section .box {
  position: relative;
  margin-top: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  color: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(to bottom, #f1f2f3 25px, #222831 25px);
}

.food_section .box .img-box {
  background: #f1f2f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 215px;
  border-radius: 0 0 0 45px;
  margin: -1px;
  padding: 25px;
}

.food_section .box .img-box img {
  max-width: 100%;
  max-height: 145px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.food_section .box .detail-box {
  padding: 25px;
}

.food_section .box .detail-box h5 {
  font-weight: 600;
}

.food_section .box .detail-box p {
  font-size: 15px;
}

.food_section .box .detail-box h6 {
  margin-top: 10px;
}

.food_section .box .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.food_section .box .options a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: #ffbe33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.food_section .box .options a svg {
  width: 18px;
  height: auto;
  fill: #ffffff;
}

.food_section .box:hover .img-box img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.food_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.food_section .btn-box a {
  display: inline-block;
  padding: 10px 55px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.food_section .btn-box a:hover {
  background-color: #e69c00;
}

.about_section {
  background: #222831;
  color: #ffffff;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about_section .img-box img {
  width: 100%;
  max-width: 445px;
  position: relative;
  z-index: 2;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: #e69c00;
}

.book_section {
  position: relative;
}

.book_section .heading_container {
  margin-bottom: 25px;
}

.book_section .form_container .form-control {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 25px;
  border: 1px solid #999;
  outline: none;
  color: #000000;
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.book_section .form_container .form-control::-webkit-input-placeholder {
  color: #222222;
}

.book_section .form_container .form-control:-ms-input-placeholder {
  color: #222222;
}

.book_section .form_container .form-control::-ms-input-placeholder {
  color: #222222;
}

.book_section .form_container .form-control::placeholder {
  color: #222222;
}

.book_section .form_container .nice-select .current {
  font-size: 16px;
}

.book_section .form_container button {
  margin-top: 15px;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 55px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.book_section .form_container button:hover {
  background-color: #e69c00;
}

.book_section .map_container {
  width: 100%;
  height: 345px;
  border-radius: 10px;
  overflow: hidden;
}

.book_section .map_container #googleMap {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

/* client section start */
.client_section .heading_container {
  margin-bottom: 30px;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.client_section .box .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  position: relative;
  margin-top: 30px;
}

.client_section .box .img-box img {
  border-radius: 100%;
  border: 5px solid #ffbe33;
  position: relative;
}

.client_section .box .img-box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #ffbe33;
  -webkit-transform: rotate(45deg) translateX(-50%);
          transform: rotate(45deg) translateX(-50%);
}

.client_section .box .detail-box {
  background-color: #222831;
  color: #ffffff;
  padding: 25px 25px 15px 25px;
  border-radius: 5px;
}

.client_section .box .detail-box h6 {
  font-weight: 600;
  font-size: 18px;
  margin: 15px 0 5px 0;
}

.client_section .box .detail-box p {
  margin-bottom: 0;
  font-size: 15px;
  margin-bottom: 10px;
}

.client_section .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
  padding: 0 15px;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 45px;
  height: 45px;
  background-color: #ffbe33;
  color: #ffffff;
  outline: none;
  bottom: 0px;
  font-size: 24px;
  margin: 0 5px;
  border-radius: 100%;
}

/* client section end */
.contact_section .heading_container {
  margin-bottom: 45px;
}

.contact_section .form_container .form-group {
  margin-bottom: 25px;
}

.contact_section .form_container input {
  width: 100%;
  border: none;
  height: 50px;
  padding-left: 25px;
  background-color: transparent;
  border: 1px solid #ccc;
  outline: none;
  color: #000000;
  border-radius: 5px;
}

.contact_section .form_container input::-webkit-input-placeholder {
  color: #222222;
}

.contact_section .form_container input:-ms-input-placeholder {
  color: #222222;
}

.contact_section .form_container input::-ms-input-placeholder {
  color: #222222;
}

.contact_section .form_container input::placeholder {
  color: #222222;
}

.contact_section .form_container input.message-box {
  height: 120px;
  border-radius: 5px;
}

.contact_section .form_container .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_section .form_container button {
  margin-top: 10px;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 55px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.contact_section .form_container button:hover {
  background-color: #e69c00;
}

/* footer section*/
.footer_section {
  background-color: #222831;
  color: #ffffff;
  padding: 75px 0 40px 0;
  text-align: center;
}

.footer_section h4 {
  font-size: 28px;
}

.footer_section h4,
.footer_section .footer-logo {
  font-weight: 600;
  margin-bottom: 20px;
  font-family: 'Dancing Script', cursive;
}

.footer_section p {
  color: #dbdbdb;
}

.footer_section .footer-col {
  margin-bottom: 30px;
}

.footer_section .footer_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.footer_section .footer_contact .contact_link_box a i {
  margin-right: 5px;
}

.footer_section .footer_contact .contact_link_box a:hover {
  color: #ffbe33;
}

.footer_section .footer-logo {
  display: block;
  font-weight: bold;
  font-size: 38px;
  line-height: 1;
  color: #ffffff;
}

.footer_section .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer_section .footer_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222831;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #ffffff;
  border-radius: 100%;
  margin: 0 2.5px;
  font-size: 18px;
}

.footer_section .footer_social a:hover {
  color: #ffbe33;
}

.footer_section .footer-info {
  text-align: center;
  margin-top: 25px;
}

.footer_section .footer-info p {
  color: #ffffff;
  margin: 0;
}

.footer_section .footer-info p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */
.orange-outline {
  border-radius: 15px;
  border: #F7941E solid 1.7px;
}

.black-outline {
  border-radius: 15px;
  border: black solid 1.4px;
}
.btn-orange{
  background-color:#F7941E;
  color: #ffffff;
  border-radius:15px ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.site-mobile-menu {
  width: 300px;
  position: fixed;
  margin-left: -0%;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(-110%);
  -ms-transform: translateX(-110%);
  transform: translateX(-110%);
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
  -o-transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
  transition: 0.2s all cubic-bezier(0.66, 0.2, 0.48, 0.9);
  border-top-right-radius: 30px;
  margin-top:-0,7%;
 }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); 
    height: 103%;
  }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    max-height: 350px;
    position: relative;
    padding: 0 20px 20px 20px;
  }
  .site-mobile-menu .site-mobile-menu-body2 {
    overflow-y: hidden;
    max-height: 350px;
    position: relative;
    padding: 0 20px 20px 20px;
  }
  .site-mobile-menu-body::-webkit-scrollbar {
    width: 15px;
  }
  
  .site-mobile-menu-body::-webkit-scrollbar-thumb {
    background-color:#F7941E;
    border: solid white 5px ;
    border-radius:15px;
  }
  
  .site-mobile-menu-body::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  

  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #dee2e6; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #89ba16;
        text-decoration: none; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li .active {
        color: #000; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%; }
  .sticky-wrapper + .site-blocks-cover {
    margin-top: 96px; }
  .sticky-wrapper .site-menu-toggle {
    color: #000; }
    @media (max-width: 991.98px) {
      .sticky-wrapper .site-menu-toggle {
        color: #fff; } }
  .sticky-wrapper .site-navbar {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .sticky-wrapper .site-navbar .site-menu > li {
      display: inline-block; }
      .sticky-wrapper .site-navbar .site-menu > li > a {
        position: relative; }
        .sticky-wrapper .site-navbar .site-menu > li > a:after {
          height: 2px;
          background: #fff;
          content: "";
          position: absolute;
          bottom: 0;
          left: 20px;
          right: 20px;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
        .sticky-wrapper .site-navbar .site-menu > li > a:hover, .sticky-wrapper .site-navbar .site-menu > li > a.active {
          color: #fff;
          position: relative; }
          .sticky-wrapper .site-navbar .site-menu > li > a:hover:after, .sticky-wrapper .site-navbar .site-menu > li > a.active:after {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1); }
  .sticky-wrapper.is-sticky .site-menu-toggle {
    color: #000; }
  .sticky-wrapper.is-sticky .site-navbar {
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    background: #fff; }
    .sticky-wrapper.is-sticky .site-navbar .site-logo a {
      color: #000; }
    .sticky-wrapper.is-sticky .site-navbar .site-menu > li {
      display: inline-block; }
      .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
        position: relative;
        color: #000; }
        .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:after {
          height: 2px;
          background: #89ba16;
          content: "";
          position: absolute;
          bottom: 0;
          left: 20px;
          right: 20px;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
        .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover, .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active {
          color: #89ba16;
          position: relative; }
          .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover:after, .sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active:after {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1); }
  .sticky-wrapper .shrink {
    padding-top: 10px !important;
    padding-bottom: 10px !important; }

    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    @media (min-width: 1200px) {
        .ns {
            margin-left: 180px;
        }

        /* .gahah {
            margin-left: 110px;
        } */

        .brand {
            margin-left: -160px;
        }
    }

    @media (max-width: 1199px) {
        .brand {
            margin-left: -120px;
        }
    }



    .scale {
        box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
        transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    }

    .scale:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06)
    }

    .card h2 {
        font-size: 1rem
    }

    .custom_nav-container .navbar-nav .nav-item.active .nav-link {
        color: #F7941E;
        background: white;
    }

    .custom_nav-container .navbar-nav .nav-item.active .nav-link:hover {
        color: #F7941E;
        background: white;

    }

    .custom_nav .active {
        color: #F7941E;
        background: white;
        border-radius: 10px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .custom_nav .nav-item .active:hover {
        color: #F7941E;
        background: white;
    }

    .video-fav {}

    .nav-link {
        color: #ffffff;
    }

    .nav-link:hover {
        color: #ffffff;
    }

    .radius-bawah {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .radius-atas {
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown .dropbtn {

        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        margin: 0;
        padding: 14px 16px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #1d1919;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {

        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

    }

    .dropdown-content a:hover {
        background-color: #f1f1f146;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .login {
        display: inline-block;
        padding: 6px 22px;
        background-color: #ffff;
        color: #F7941E;
        border-radius: 12px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: none;
    }


    .dotted {
        border: 2px dotted #aaa;
        text-align: center;
        padding: 10px;
        width: 300px;
        height: auto;
        border-radius: 20px;
    }

    .black-border-button {


        border: 1px solid black;
        padding: 10px 15px;
        font-size: 14px;
        cursor: pointer;
        border-radius: 5px;
    }

    .t {
        margin-left: 45px;
    }


    .ah {
        display: inline-block;
        padding: 10px 55px;
        background-color: #ffffff;
        color: #F7941E;
        border-radius: 100px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: none;
    }

    .text-orange {
        color: #F7941E;

    }

    .form-control:focus {
        border: #F7941E solid;
        box-shadow: none;
    }


    .slider_section .detail-box a {
        background-color: #ffffff;
        color: #ffffff;
        border-radius: 12px;

    }

    .zoom-effects:hover {
        transform: scale(0.95);
    }

    .yuhu {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
    .iconClass{
      position: relative;
    }
    .iconClass span{
      position: absolute;
      top: -5px;
      left: 15px;
      display: block;
      color: #ffffff;
      border-radius: 20px;
      font-size:x-small;
      padding-bottom: 4px;
      padding-top: 4px;
      padding-right: 6px;
    }
    .iconButton{
      position: relative;
      margin-left: 45%;
    }
    .iconButton span{
      position: absolute;
      top:-4px;
      right: -4px;
      display: block;
      color: #ffffff;
      border-radius: 20px;
      font-size:x-small;
      padding-bottom: 4px;
      padding-top: 4px;
      padding-right: 6.5px;
    }
    .badge-mobile{
      display: block;
      color: #ffffff;
      border-radius: 20px;
      font-size: xx-small;
      padding-bottom: 3px;
      padding-top: 4px;
    }
    .scroll-button {
      background-color: #ffffff;
      color: #F7941E;
      padding: 5px;
      border: solid #F7941E;
      border-radius: 50%;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5), 0 0 6px rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
    .text-poppins {
      font-family: 'Poppins';
  }

  .card-margin {
      margin-bottom: 1.875rem;
      height: ;
  }

  .card {
      border: 0;
      box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
      -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
      -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
      -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  }

  .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #ffffff;
      background-clip: border-box;
      border: 1px solid #e6e4e9;
      border-radius: 8px;
  }

  .card .card-header.no-border {
      border: 0;
  }

  .card .card-header {
      background: none;
      padding: 0 0.9375rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      min-height: 50px;
  }

  .card-header:first-child {
      border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
  }

  .widget-49 .widget-49-title-wrapper {
      display: flex;
      align-items: center;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-primary {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #edf1fc;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #fcfcfd;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-day {
      color: #dde1e9;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-month {
      color: #dde1e9;
      line-height: 1;
      font-size: 1rem;
      text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-success {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #e8faf8;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day {
      color: #17d1bd;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
      color: #17d1bd;
      line-height: 1;
      font-size: 1rem;
      text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #ebf7ff;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
      color: #36afff;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
      color: #36afff;
      line-height: 1;
      font-size: 1rem;
      text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-warning {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: floralwhite;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day {
      color: #FFC868;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
      color: #FFC868;
      line-height: 1;
      font-size: 1rem;
      text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-danger {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #feeeef;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
      color: #F95062;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-month {
      color: #F95062;
      line-height: 1;
      font-size: 1rem;
      text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-light {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #fefeff;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
      color: #f7f9fa;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-month {
      color: #f7f9fa;
      line-height: 1;
      font-size: 1rem;
      text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-dark {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #ebedee;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
      color: #394856;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
      color: #394856;
      line-height: 1;
      font-size: 1rem;
      text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-base {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #f0fafb;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
      color: #68CBD7;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
      color: #68CBD7;
      line-height: 1;
      font-size: 1rem;
      text-transform: uppercase;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
      color: #3c4142;
      font-size: 14px;
  }

  .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
      color: #B1BAC5;
      font-size: 13px;
  }

  .widget-49 .widget-49-meeting-points {
      font-weight: 400;
      font-size: 13px;
      margin-top: .5rem;
      margin-left: -10%;
  }

  .widget-49 .widget-49-meeting-points .widget-49-meeting-item {
      display: list-item;
      color: #727686;
  }
  .header-text{
    color: white; font-size: 30px; font-family: Poppins; font-weight: bold; word-wrap: break-word;
  }
    /* @keyframes shake {
      0%, 100% {
        transform: translateX(0);
      }
      25% {
        transform: translateX(-1px);
      }
      50% {
        transform: translateX(1px);
      }
      75% {
        transform: translateX(-1px);
      }
    }
    
    .scroll-button svg {
      animation: shake 0.03s ease-in-out infinite;
    } */
